@media (max-width: 960px) {
  body {
    background-color: pink;
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  body {
    background-color: brown;
    font-size: 0.8rem;
  }
}
.menu-group {
  margin-bottom: 26px;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.del {
  text-decoration: line-through;
}
.badge-new::after {
  content: 'New!';
  color: red;
}