.menu-group {
  margin-bottom: 26px;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.del {
  text-decoration: line-through;
}
.badge-new::after {
  content: 'New!';
  color: red;
}